<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
		<script  type= text/javascript src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<link href="https://rawgit.com/rvera/image-picker/master/image-picker/image-picker.css" rel="stylesheet">	
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
		<script  type= text/javascript src="https://rawgit.com/rvera/image-picker/master/image-picker/image-picker.min.js" ></script>
		<script type= text/javascript>
		$(function() {
			$("select").imagepicker();
		});
		
		function onSubmit(event, element) {
			var sources = [];
			$.each($(".selected > img"), function(index, value){ 
				var tmpSplit = $(value).attr("src").split('/');
				sources.push(tmpSplit[tmpSplit.length -2] + '/' + tmpSplit[tmpSplit.length - 1]);
			});
        
            if (sources.length === 0) {
                event.preventDefault();
                return;
            }
            document.getElementById('fileNames').value = JSON.stringify(sources);
        }

        function onSelect(element) {
        	var buttonRotate = document.getElementById('rotateBtn');
        	var deleteBtn = document.getElementById('deleteBtn');
        	if (element.selectedOptions.length > 0) {
	        	buttonRotate.classList.remove('disabled');
	        	deleteBtn.classList.remove('disabled');
	        } else {
	        	buttonRotate.classList.add('disabled');
	        	deleteBtn.classList.add('disabled');
	        }
        }

        function onDelete(event, element) {
        	var sources = [];
			$.each($(".selected > img"), function(index, value){ 
				var tmpSplit = $(value).attr("src").split('/');
				sources.push(tmpSplit[tmpSplit.length -2] + '/' + tmpSplit[tmpSplit.length - 1]);
			});
        
            if (sources.length === 0) {
                event.preventDefault();
                return;
            }
            document.getElementById('fileNames2').value = JSON.stringify(sources);
        }
		</script>
		<style type="text/css">
			.col-md-3 {
				width: 285px;
			}
		</style>
    <title>Obróć obrazek</title>
</head>
<body>    
	<div class="nav-bar" style="margin-left: 110px; margin-top: 5px;">
		<a class="btn btn-large btn-lg btn-info" style="width: 200px;" href="/">Strona domowa</a>
		<a class="btn btn-large btn-lg btn-info" style="width: 200px;" href="/gallery">Idź do galerii</a>
	</div>

	<div style="margin-top: 30px;" class="container">
		<section class="panel panel-default">
			<div class="panel-heading">
				<div class="container">
					<h3 class="panel-title">Obróć</h3>
				</div>
			</div>
			<div class="panel-body" style="display: inline-grid;">
				<form method="post" action="/rotate" onsubmit="onSubmit(event, this)">
					<div class="col-md-3">

						<input type="radio" name="direction" value="left"> w lewo 
						&nbsp &nbsp
						<input type="radio" checked="true" name="direction" value="right"> w prawo
						<span style="display: flex;">
							<input class="form-control" style="margin-top:10px;"
								type="number" name="rotateDegrees" min="0" value="45" max="360">&deg
						</span>
						<button id="rotateBtn" class="btn btn-primary btn-block disabled" 
							style="margin-top:10px;" type="submit">Obróć</button>
						
					</div>
					<div class="col-md-3">
						<input type="hidden" name="command" value="rotate" />
						<input type="hidden" name="files" id="fileNames" />
					</div>     
				</form>     
				<form method="post" action="/delete" onsubmit="onDelete(event, this)">
					<div class="col-md-3">
						<button id="deleteBtn" class="btn btn-primary btn-block disabled" 
							style="margin-top:10px;" type="submit">Usuń obrazek</button>
						<div>
							<input type="hidden" name="command" value="delete" />
							<input type="hidden" name="files2" id="fileNames2" />
						</div>
					</div>
				</form>
			</div>
		</section > 
	</div>   
	<div style="margin: 0 110px;" >           
		<select onchange="onSelect(this)" multiple="multiple" class="image-picker show-html">
			<% files.forEach(function(file, i) { %>
				<option onselect="onSelect(this)" 
					data-img-src="<%= 'https://s3-us-west-2.amazonaws.com/' + bucket + '/' + file.Key %>" 
					value=<%=file.Key%>> 
				</option>
		    <% }); %>
		</select>
	</div>
</body>
</html>