<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	    <title>Plik wysłany</title>
	</head>
	<body>

		<div class="nav-bar" style="margin-left: 110px; margin-top: 5px;">
			<a class="btn btn-large btn-lg btn-info" style="width: 200px;" href="/">Strona domowa</a>
			<a class="btn btn-large btn-lg btn-info" style="width: 200px;" href="/gallery">Idź do galerii</a>
		</div>
		<div style="margin-top: 30px;" class="container">
			<section id="section1" class="panel panel-default">

				<div class="panel-heading">
					<div class="container">
		    			<h3 class="panel-title">Wysłano rządanie przetworzenia</h3>
		    		</div>
			  	</div>
			  	<div class="panel-body">
					<a class="btn btn-large btn-default" style="width: 120px;" href="/gallery">Idź do galerii</a>
			  	</div>
		  	</section>
	  	</div>
	</body>
</html>