<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
    <title>File sent</title>
</head>
<body>
<p> Wysłano rządanie przetworzenia</p>
<div>
  <a class="btn btn-large btn-info" href="/">Strona domowa</a>
  <a class="btn btn-default" href="/gallery">Idź do galerii</a>
</div>
</body>
</html>