<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
		<title>Succes Page</title>
	</head>
	<body>
<p> Plik o nazwie: <%= fileName %> został załadowany pomyślnie.</p>
<div>
  <a class="btn btn-default" href="/gallery">Idź do galerii</a>
  <a class="btn btn-large btn-info" href="/">Strona domowa</a>
</div>
</body>
</html>